body{
    background-color: rgb(235, 235, 235);
}

header{
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav{
    height: 85px;
    max-width: 1500px;
    width: 95vw;
}

.navbar-brand img {
    height: 55px;
}

section {
    margin-top: 32px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.cards-container{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.text-bold{
    font-weight: 600;
}

.listener-info{
    min-width: 30%;
}

.graph-container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph{
    padding: 8px;
}